 <!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <style>
    span{
      color: red;
    }
  </style>
</head>
<body>
    <div class="bg-white pb-6 sm:pb-8 lg:pb-12">
        <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
          <header class="mb-4 flex items-center justify-between py-4 md:py-8">
            <!-- logo - start -->
            <a href="/" class="inline-flex items-center gap-2.5 text-2xl font-bold text-black md:text-3xl" aria-label="logo">
              <svg width="95" height="94" viewBox="0 0 95 94" class="h-auto w-6 text-green-500" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M96 0V47L48 94H0V47L48 0H96Z" />
              </svg>
      
              Prkinson Diseases Detection
            </a>
            <!-- logo - end -->
      
            <!-- nav - start -->
            <nav class="hidden gap-12 lg:flex">
              <a href="#" class="text-lg font-semibold text-indigo-500">Home</a>
              <a href="#" class="text-lg font-semibold text-gray-600 transition duration-100 hover:text-indigo-500 active:text-indigo-700">About</a>
              <a href="#" class="text-lg font-semibold text-gray-600 transition duration-100 hover:text-indigo-500 active:text-indigo-700">Features</a>
              <!-- <a href="home.html" class="text-lg font-semibold text-gray-600 transition duration-100 hover:text-indigo-500 active:text-indigo-700">Statistics</a> -->
            </nav>
    <!-- buttons - start -->


    <button type="button" class="inline-flex items-center gap-2 rounded-lg bg-gray-200 px-2.5 py-2 text-sm font-semibold text-gray-500 ring-indigo-300 hover:bg-gray-300 focus-visible:ring active:text-gray-700 md:text-base lg:hidden">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
      </svg>

      Menu
    </button>
    <!-- buttons - end -->
  </header>
  <div class="bg-white py-6 sm:py-8 lg:py-12" >
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
      <div class="mb-10 md:mb-16">
        <h3 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">Enter the Information Below and find if a Person has Pakinson Diseases or Not </h3>
      </div>
      <div class="mx-auto max-w-screen-md px-4 md:px-8">
        {% if result == 'Person Has No Pakinson Disease' %}
    <div class="flex items-center justify-center bg-green-100 rounded">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-10 h-10 text-green-500 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
        </svg>
        <p style="color: green; font-size:30px">{{result}}</p>
    </div>
            {% else%}
            <div class="flex items-center justify-center bg-red-100 rounded">
                <p style="color: red; font-size:30px">{{result}}</p>
            
            </div>
            {% endif %}
      </div><br>
      <form class="mx-auto grid max-w-screen-md gap-4 sm:grid-cols-3" action="{{ url_for('predict_datapoint') }}" method="POST">
        <div>
            <label for="MDVP_Fo_Hz" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">MDVP Fo (Hz)<span>*</span></label>
            <input name="MDVP_Fo_Hz" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" type="text" />
        </div>
        <div>
            <label for="MDVP_Fhi_Hz" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">MDVP Fhi (Hz)<span>*</span></label>
            <input name="MDVP_Fhi_Hz" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" type="text" />
        </div>
        <div>
            <label for="MDVP_Flo_Hz" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">MDVP Flo (Hz)<span>*</span></label>
            <input name="MDVP_Flo_Hz" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" type="text" />
        </div>
        <div>
            <label for="MDVP_Jitter_percent" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">MDVP Jitter (%)<span>*</span></label>
            <input name="MDVP_Jitter_percent" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" type="text" />
        </div>
        <div>
            <label for="MDVP_Jitter_Abs" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">MDVP Jitter Abs<span>*</span></label>
            <input name="MDVP_Jitter_Abs" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" type="text" />
        </div>
        <div>
            <label for="MDVP_RAP" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">MDVP RAP<span>*</span></label>
            <input name="MDVP_RAP" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" type="text" />
        </div>
        
        <div>
            <label for="MDVP_PPQ" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">MDVP PPQ<span>*</span></label>
            <input name="MDVP_PPQ" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" type="text" />
        </div>
        <div>
            <label for="Jitter_DDP" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Jitter DDP<span>*</span></label>
            <input name="Jitter_DDP" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" type="text" />
        </div>
        <div>
            <label for="MDVP_Shimmer" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">MDVP Shimmer<span>*</span></label>
            <input name="MDVP_Shimmer" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" type="text" />
        </div>
        <div>
            <label for="MDVP_Shimmer_dB" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">MDVP Shimmer dB<span>*</span></label>
            <input name="MDVP_Shimmer_dB" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" type="text" />
        </div>
        <div>
            <label for="Shimmer_APQ3" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Shimmer APQ3<span>*</span></label>
            <input name="Shimmer_APQ3" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" type="text" />
        </div>
        <div>
            <label for="Shimmer_APQ5" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Shimmer APQ5<span>*</span></label>
            <input name="Shimmer_APQ5" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" type="text" />
        </div>
        <div>
            <label for="MDVP_APQ" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">MDVP APQ<span>*</span></label>
            <input name="MDVP_APQ" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" type="text" />
        </div>
        <div>
            <label for="Shimmer_DDA" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Shimmer DDA<span>*</span></label>
            <input name="Shimmer_DDA" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" type="text" />
        </div>
    
        <div>
            <label for="NHR" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">NHR<span>*</span></label>
            <input name="NHR" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" type="text" />
        </div>
        <div>
            <label for="HNR" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">HNR<span>*</span></label>
            <input name="HNR" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" type="text" />
        </div>
        <div>
            <label for="RPDE" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">RPDE<span>*</span></label>
            <input name="RPDE" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" type="text" />
        </div>
        <div>
            <label for="DFA" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">DFA<span>*</span></label>
            <input name="DFA" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" type="text" />
        </div>
        <div>
            <label for="spread1" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">spread1<span>*</span></label>
            <input name="spread1" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" type="text" />
        </div>
        <div>
            <label for="spread2" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">spread2<span>*</span></label>
            <input name="spread2" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" type="text" />
        </div>
        <div>
            <label for="D2" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">D2<span>*</span></label>
            <input name="D2" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" type="text" />
        </div>
        <div>
            <label for="PPE" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">PPE<span>*</span></label>
            <input name="PPE" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" type="text" />
        </div>
    
        <br>
    
        <div class="flex justify-center col-span-2"> <!-- Centered between columns -->
            <button type="submit"
                class="inline-block rounded-lg bg-green-500 px-10 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base" style="margin-left: 50%;">Predict</button>
        </div>
    </form>
    
      <br><br>

      
    </div>
    <div class="bg-white pt-4 sm:pt-10 lg:pt-12">
      <footer class="mx-auto max-w-screen-2xl px-4 md:px-8">
        <div class="flex flex-col items-center border-t pt-6">
          <!-- nav - start -->
          <nav class="mb-4 flex flex-wrap justify-center gap-x-4 gap-y-2 md:justify-start md:gap-6">
            <a href="about.html" class="text-gray-500 transition duration-100 hover:text-indigo-500 active:text-indigo-600">About</a>
            <a href="#" class="text-gray-500 transition duration-100 hover:text-indigo-500 active:text-indigo-600">Home</a>
            <a href="predict.html" class="text-gray-500 transition duration-100 hover:text-indigo-500 active:text-indigo-600">Predict</a>
            <a href="features.html" class="text-gray-500 transition duration-100 hover:text-indigo-500 active:text-indigo-600">Features</a>
            
          </nav>
    
        <div class="py-8 text-center text-sm text-gray-400">© 2026 - Present Aman & Aaditya. All rights reserved.</div>
      </footer>
    </div>
  </div>
  
  
  
</div>
</div>
</body>
</html>